@require '~rupture/rupture/index.styl'
// @stylint off
rupture.scale = 320px 568px 768px 1024px 1280px 1366px 1440px
rupture.scale-names = 'xs' 'hxs' 'sm' 'hsm' 'md' 'lg' 'xl'
rupture.mobile-cutoff = 568px
rupture.tablet-cutoff = 768px
rupture.desktop-cutoff = 1024px
rupture.anti-overlap = -1px
