$text = json('./text.json', { hash: true })

textSize0()
	font-size: $text.fontSize0
	line-height: $text.lineHeight0

textSize1()
	font-size: $text.fontSize1
	line-height: $text.lineHeight1

textSize2()
	font-size: $text.fontSize2
	line-height: $text.lineHeight2

textSize3()
	font-size: $text.fontSize3
	line-height: $text.lineHeight3

textSize4()
	font-size: $text.fontSize4
	line-height: $text.lineHeight4

textSize5()
	font-size: $text.fontSize5
	line-height: $text.lineHeight5

textSize6()
	font-size: $text.fontSize6
	line-height: $text.lineHeight6

textSize7()
	font-size: $text.fontSize7
	line-height: $text.lineHeight7

textWeightRegular()
	font-weight: 400

textWeightMedium()
	font-weight: 500

textWeightBold()
	font-weight: 700

textWeightBlack()
	font-weight: 900
