{
    "branches": [
        '+([0-9])?(.{+([0-9]),x}).x',
        'master',
        'next',
        'next-major',
        {name: 'beta', prerelease: true},
        {name: 'alpha', prerelease: true},
        {name: 'feature-*', prerelease: true},
        {name: 'feature/dev-?', prerelease: 'feature' },
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/npm",
        "@semantic-release/github",
        "@semantic-release/changelog",
       ["@semantic-release/git", {
            "assets": ["package.json", "package-lock.json", "CHANGELOG.md"]
       }]
    ]
}
