{
    "branches": [
        "master",
        {name: 'feature/dev-*', channel: '${name.replace("/", "-")}', prerelease: '${name.replace("/", "-")}' },
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        ["@semantic-release/npm", {
            "tarballDir": "tarball",
        }],
        "@semantic-release/github",
        "@semantic-release/changelog",
       ["@semantic-release/git", {
            "assets": ["package.json", "package-lock.json", "CHANGELOG.md"]
       }]
    ]
}
